<ul>
  <% @companies.each do |company|%>
    <li><%= company.name %></li>
    <%= link_to(company.name, company_path(company)) %>
  <% end %>
</ul>

<%= link_to 'Add new company', new_company_path %>
